.father {
  display:flex;
  height: 100vh;
  flex-direction: row;
  justify-content:flex-start; 
  align-items:flex-start;
  row-gap: 20px;
  column-gap: 50px;
  flex-flow: row wrap;
  /*flex-flow = flex-direction + flex-wrap together */
  align-content: center;
 
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: red;
  font-size:30px;
  color:white;

}

