

.father {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  
}

.child {
  display: grid;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  background-color: red;
  color: white;
}